[client]
port=3306
socket=/tmp/mysql.sock
[mysqld]
#skip-grant-tables
port=3306
server_id=101
# 开启 GTID 模式
gtid_mode = ON
# 强制 GTID 一致性，确保事务安全
enforce_gtid_consistency = ON
# (可选) 记录从库的更新到自己的 binlog，用于级联复制
log_slave_updates = ON
basedir=/opt/data/mysql-8.0.45
datadir=/opt/data/mysql-8.0.45/data
socket=/tmp/mysql.sock
pid-file=/opt/data/mysql-8.0.45/data/mysql.pid
lower_case_table_names=1
log_bin=mysql_log_bin
max_connections=5000
max_connect_errors=10000
innodb_buffer_pool_size=8G
#plugin-load-add=mysql_native_password.so
#mysql_native_password=FORCE_PLUS_PERMANENT
default_authentication_plugin=mysql_native_password
[mysqld_safe]
log-error=/opt/data/mysql-8.0.45/data/mariadb.log
pid-file=/opt/data/mysql-8.0.45/data/mariadb.pid

